.chunks {
}

.chunks__list {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.chunks__item {
  border: 1px solid #ffd65c;
  border-radius: 8px;
  padding: 10px 20px;
  min-width: 200px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.chunks__item:hover {
  filter: contrast(1.1);
  filter: drop-shadow(1px 5px 1px #15161a);
  transform: translateY(-3px);
}

.chunks__word-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.chunks__character {
  font-size: 28px;
  margin-right: 5px;
}

.chunks__pinyin {
  font-weight: 200;
}

.chunks__words-amount {
  text-align: center;
  display: block;
  margin-top: 15px;
  background-color: #fed75b;
  color: #272932;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
}
