.add-words {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-words__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.add-words__label {
  font-size: 30px;
  margin-bottom: 20px;
}

.add-words__input {
  width: 100%;

  min-height: 200px;
}

.add-words__error {
  width: 100%;
  min-height: 30px;
  line-height: 14px;
  font-size: 14px;
  color: #f05d5e;
  padding: 7px 15px;
  margin-bottom: 5px;
}
