.progress {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto 90px auto;
}

.progress__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.progress__done {
  width: 100%;
  height: 30px;
  overflow: hidden;
  border: 1px solid #ffd65c;
  border-radius: 8px;
  background: linear-gradient(to right, #f44336, #cddc39, #8bc34a, #4caf50);
}

.progress__left {
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 100%;
  background-color: #272932;
  float: right;
}
