.flashcards__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.flashcards__item {
  display: flex;
  align-items: baseline;
  background-color: #ffd65c;
  color: #272932;
  padding: 10px 20px;
  border-radius: 8px;
  column-gap: 20px;
  position: relative;
}

.flashcards__item-character {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 5px;
}

.flashcards__item-pinyin {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.flashcards__button-container {
  position: absolute;
  top: -10px;
  right: 5px;
  display: flex;
}

.flashcards__button {
  background-color: #d94730;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.flashcards__button:hover {
  opacity: 1;
  transform: translateY(-3px);
}

.flashcards__search-button {
  background-image: url('../../images/search-icon.png');
}

.flashcards__bkrs-button {
  background-image: url('../../images/bkrs-icon.png');
}

.flashcards__edit-button {
  background-image: url('../../images/edit-icon.png');
}
