.flashcards {
}

.flashcards__show-list-button {
  display: block;
  margin: 0 auto 20px auto;
  max-width: fit-content;
  padding: 10px 20px;
}

.flashcards__quiz-mode-container {
  background-color: #ffd65c;
  color: #272932;
  border-radius: 7px;
  padding: 10px;
  max-width: fit-content;
  margin: 0 auto 10px auto;
  transition: all 0.3s ease;
}

.flashcards__quiz-mode-container:last-of-type {
  margin-bottom: 20px;
}

.flashcards__quiz-mode-container:hover {
  opacity: 0.8;
}

.flashcards__quiz-mode {
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
}

.flashcards__quiz-mode-input {
  cursor: pointer;
}

.flashcards__loading {
  width: 30px;
  height: 30px;
  display: block;
  min-height: 310px;
  margin: 20px auto;
  color: #fed75b;
  animation: rotating 1s linear infinite;
}

.flashcards__error {
  display: block;
  text-align: center;
  min-height: 310px;
  color: #f05d5e;
}
