.chunks-list__list {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.chunks-list__item {
  border: 1px solid #ffd65c;
  border-radius: 8px;
  padding: 10px 20px;
  min-width: 200px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}

.chunks-list__item:hover {
  filter: contrast(1.1);
  filter: drop-shadow(1px 5px 1px #15161a);
  transform: translateY(-3px);
}

.chunks-list__word-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.chunks-list__character {
  font-size: 28px;
  margin-right: 5px;
}

.chunks-list__pinyin {
  font-weight: 200;
}

.chunks-list__words-amount {
  text-align: center;
  display: block;
  margin-top: 15px;
  background-color: #fed75b;
  color: #272932;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
}

.chunks-list__order {
  background-color: #fed75b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  color: #272932;
  text-align: center;
  line-height: 25px;
  font-weight: 500;
}
